<div class="container">
    <h2>Your Reimbursements</h2>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Submitted</th>
                <th>Resolved</th>
                <th>Description</th>
                <th>Author</th>
                <th>Resolver</th>
                <th>Status</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reimb of reimbursementObs | async">
                <td>{{ reimb.reimb_id }}</td>
                <td>{{ reimb.reimb_amount | currency }}</td>
                <td>{{ reimb.reimb_submitted | date:'medium' }}</td>
                <td>{{ reimb.reimb_resolved | date:'medium' }}</td>
                <td>{{ reimb.reimb_description }}</td>
                <td>{{ reimb.reimb_author.firstName + ' ' + reimb.reimb_author.lastName }}</td>
                <td *ngIf="reimb.reimb_resolver != null">{{ reimb.reimb_resolver.firstName + ' ' + reimb.reimb_resolver.lastName }}</td>
                <td *ngIf="reimb.reimb_resolver == null"></td>
                <td>{{ reimb.reimb_status }}</td>
                <td>{{ reimb.reimb_type }}</td>
            </tr>
        </tbody>
    </table>

    <button routerLink='/addReimb/{{employee.id}}'>Add Reimbursement</button>
    <button routerLink='/login'>Logout</button>

</div>